.logotipo {
	padding: 10px;
	margin-right: 20px;
}

.logotipo img {
	height:30px;
}

.profile {
	padding: 10px;
	width: 300px;
}

.profile li:first-child {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 2px;
}

.header h1 {
	margin: 0;
	font-size: 3em;
}

.search {
	margin-top: 12px;
}

.dados-os {
	margin-top: 30px;
}

.page .pagination {
	margin: 0;
}